.btn, form, input, .rate {
    font-family: 'Luckiest Guy', cursive;
}

p {
    width: max-content;
    margin: 0px;
}
.gifbox {
    
    display: inline-block
}

img {
    max-width: 99%;
}

.btn {
    margin: 5px;
    background-color: gold;
}

#createbtn {
    background-color: red
}